{
    "swagger": "2.0",
    "info": {
        "title": "Open Bank Project API",
        "description": "An Open Source API for Banks. (c) TESOBE Ltd. 2011 - 2016. Licensed under the AGPL and commercial licences.",
        "contact": {
            "name": "TESOBE Ltd. / Open Bank Project",
            "url": "https://openbankproject.com",
            "email": "contact@tesobe.com"
        },
        "version": "v3.0.0"
    },
    "host": "apc.openbankproject.com",
    "basePath": "/obp/v3.0.0",
    "schemes": ["http", "https"],
    "securityDefinitions": {
        "directLogin": {
            "type": "apiKey",
            "description": "https://github.com/OpenBankProject/OBP-API/wiki/Direct-Login",
            "in": "header",
            "name": "Authorization"
        }
    },
    "security": [{
        "directLogin": []
    }],
    "paths": {
        "/accounts/public": {
            "get": {
                "tags": ["func_2_0_0"],
                "summary": "Get Public Accounts at all Banks.",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Get public accounts at all banks (Anonymous access). Returns accounts that contain at least one public view (a view where is_public is true) For each account the API returns the ID and the available views.</p><p>Authentication is Optional</p>",
                "operationId": "func_2_0_0-publicAccountsAllBanks",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/BasicAccountsJSON"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            }
        },
        "/banks": {
            "get": {
                "tags": ["func_1_2_1"],
                "summary": "Get Banks",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Get banks on this API instance Returns a list of banks supported on this server:</p><ul>  <li>ID used as parameter in URLs</li>  <li>Short and full name of bank</li>  <li>Logo URL</li>  <li>Website</li></ul>",
                "operationId": "func_1_2_1-getBanks",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/BanksJSON"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUnknownError"
                        }
                    }
                }
            },
            "post": {
                "tags": ["func_2_2_0"],
                "summary": "Create Bank",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Create a new bank (Authenticated access). Authentication is Mandatory</p>",
                "operationId": "func_2_2_0-createBank",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/BankJSONV220"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/BankJSONV220"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorInvalidJsonFormat"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}": {
            "get": {
                "tags": ["func_1_2_1"],
                "summary": "Get Bank",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Get the bank specified by BANK_ID Returns information about a single bank specified by BANK_ID including:</p><ul>  <li>Short and full name of bank</li>  <li>Logo URL</li>  <li>Website</li></ul>",
                "operationId": "func_1_2_1-bankById",
                "parameters": [{
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/BankJSON"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts": {
            "get": {
                "tags": ["func_2_0_0"],
                "summary": "Get Accounts at one Bank (Public and Private).",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Get accounts at one bank that the user has access to (Authenticated + Anonymous access). Returns the list of accounts at BANK_ID that the user has access to. For each account the API returns the account ID and the available views.</p><p>If the user is not authenticated, the list will contain only the accounts providing public views. Authentication is Optional</p>",
                "operationId": "func_2_0_0-allAccountsAtOneBank",
                "parameters": [{
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/BasicAccountsJSON"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorBankNotFound"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}": {
            "post": {
                "tags": ["func_1_2_1"],
                "summary": "Update Account Label.",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Update the label for the account. The label is how the account is known to the account owner e.g. 'My savings account' </p>",
                "operationId": "func_1_2_1-updateAccountLabel",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/UpdateAccountJSON"
                    }
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessMessage"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorInvalidJsonFormat"
                        }
                    }
                }
            },
            "put": {
                "tags": ["func_2_2_0"],
                "summary": "Create Account",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Create Account at bank specified by BANK_ID with Id specified by ACCOUNT_ID.</p><p>The User can create an Account for themself or an Account for another User if they have CanCreateAccount role.</p><p>If USER_ID is not specified the account will be owned by the logged in User.</p><p>Note: The Amount must be zero.</p>",
                "operationId": "func_2_2_0-createAccount",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/CreateAccountJSONV220"
                    }
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/CreateAccountJSONV220"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorInvalidJsonFormat"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/account": {
            "get": {
                "tags": ["func_3_0_0"],
                "summary": "Get Account by Id (Full)",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Information returned about an account specified by ACCOUNT_ID as moderated by the view (VIEW_ID):</p><ul>  <li>Number</li>  <li>Owners</li>  <li>Type</li>  <li>Balance</li>  <li>IBAN</li>  <li>Available views (sorted by short_name)</li></ul><p>More details about the data moderation by the view <a href=\"#1_2_1-getViewsForBankAccount\">here</a>.</p><p>PSD2 Context: PSD2 requires customers to have access to their account information via third party applications. This call provides balance and other account information via delegated authenticaiton using OAuth.</p><p>OAuth authentication is required if the 'is_public' field in view (VIEW_ID) is not set to <code>true</code>.</p>",
                "operationId": "func_3_0_0-accountById",
                "parameters": [{
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ModeratedAccountJSON"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorBankNotFound"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/counterparties": {
            "get": {
                "tags": ["func_2_2_0"],
                "summary": "Get Counterparties of one Account.",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Get the counterparties for the account / view.</p><p>Authentication is Mandatory</p>",
                "operationId": "func_2_2_0-getCounterpartiesForAccount",
                "parameters": [{
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/CounterpartiesJsonV220"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            },
            "post": {
                "tags": ["func_2_1_0"],
                "summary": "Create counterparty for an account",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Create counterparty.</p><p>Counterparties are created for the account / view They are how the user of the view (e.g. account owner) refers to the other side of the transaction</p><p>name is the human readable name (e.g. Piano teacher, Miss Nipa)</p><p>other_bank_id is an (internal) ID for the bank of the bank of the counterparty (if known)</p><p>other_account_id is an (internal) ID for the bank account of the counterparty (if known)</p><p>other_account_provider is a code that tells the system where that bank is hosted. Will be OBP if its known to the API. Usage of this flag (in API / connectors) is work in progress.</p><p>account_routing_scheme is a code that dictates the nature of the account_routing_address e.g. IBAN</p><p>account_routing_address is an instance of account_routing_scheme that can be used to route payments to external systems. e.g. an IBAN number</p><p>bank_routing_scheme is a code that dictates the nature of the bank_routing_address e.g. \"BIC\",</p><p>bank_routing_address is an instance of bank_routing_scheme</p><p>is_beneficiary must be set to true in order to send payments to this counterparty</p><p>The view specified by VIEW_ID must have the canAddCounterparty permission</p><p>Authentication is Mandatory</p>",
                "operationId": "func_2_1_0-createCounterparty",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/PostCounterpartyJSON"
                    }
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/CounterpartyJsonV220"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts": {
            "get": {
                "tags": ["func_1_2_1"],
                "summary": "Get Other Accounts of one Account.",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Returns data about all the other accounts that have shared at least one transaction with the ACCOUNT_ID at BANK_ID. Authentication is Optional Authentication is required if the view VIEW_ID is not public.</p>",
                "operationId": "func_1_2_1-getOtherAccountsForBankAccount",
                "parameters": [{
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/OtherAccountsJSON"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorBankAccountNotFound"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}": {
            "get": {
                "tags": ["func_1_2_1"],
                "summary": "Get Other Account by Id.",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Returns data about the Other Account that has shared at least one transaction with ACCOUNT_ID at BANK_ID. Authentication is Optional Authentication is required if the view is not public.</p>",
                "operationId": "func_1_2_1-getOtherAccountByIdForBankAccount",
                "parameters": [{
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/OtherAccountJSON"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorBankAccountNotFound"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/metadata": {
            "get": {
                "tags": ["func_1_2_1"],
                "summary": "Get Other Account Metadata.",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Get metadata of one other account. Returns only the metadata about one other bank account (OTHER_ACCOUNT_ID) that had shared at least one transaction with ACCOUNT_ID at BANK_ID.</p><p>Authentication via OAuth is required if the view is not public.</p>",
                "operationId": "func_1_2_1-getOtherAccountMetadata",
                "parameters": [{
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/OtherAccountMetadataJSON"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/metadata/corporate_location": {
            "delete": {
                "tags": ["func_1_2_1"],
                "summary": "Delete Counterparty Corporate Location.",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Delete corporate location of other bank account. Delete the geolocation of the counterparty's registered address</p>",
                "operationId": "func_1_2_1-deleteCounterpartyCorporateLocation",
                "parameters": [{
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "204": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/EmptyClassJson"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            },
            "post": {
                "tags": ["func_1_2_1"],
                "summary": "Add Corporate Location to Counterparty",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Add the geolocation of the counterparty's registered address</p>",
                "operationId": "func_1_2_1-addCounterpartyCorporateLocation",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/CorporateLocationJSON"
                    }
                }, {
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessMessage"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            },
            "put": {
                "tags": ["func_1_2_1"],
                "summary": "Update Counterparty Corporate Location",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Update the geolocation of the counterparty's registered address</p>",
                "operationId": "func_1_2_1-updateCounterpartyCorporateLocation",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/CorporateLocationJSON"
                    }
                }, {
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessMessage"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/metadata/image_url": {
            "delete": {
                "tags": ["func_1_2_1"],
                "summary": "Delete Counterparty Image URL",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Delete image url of other bank account.</p>",
                "operationId": "func_1_2_1-deleteCounterpartyImageUrl",
                "parameters": [{
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "204": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/EmptyClassJson"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUnknownError"
                        }
                    }
                }
            },
            "post": {
                "tags": ["func_1_2_1"],
                "summary": "Add image url to other bank account.",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Add a url that points to the logo of the counterparty</p>",
                "operationId": "func_1_2_1-addCounterpartyImageUrl",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/ImageUrlJSON"
                    }
                }, {
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessMessage"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            },
            "put": {
                "tags": ["func_1_2_1"],
                "summary": "Update Counterparty Image Url",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Update the url that points to the logo of the counterparty</p>",
                "operationId": "func_1_2_1-updateCounterpartyImageUrl",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/ImageUrlJSON"
                    }
                }, {
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessMessage"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorBankAccountNotFound"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/metadata/more_info": {
            "delete": {
                "tags": ["func_1_2_1"],
                "summary": "Delete more info of other bank account.",
                "security": [{
                    "directLogin": []
                }],
                "description": "",
                "operationId": "func_1_2_1-deleteCounterpartyMoreInfo",
                "parameters": [{
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "204": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/EmptyClassJson"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            },
            "post": {
                "tags": ["func_1_2_1"],
                "summary": "Add Counterparty More Info",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Add a description of the counter party from the perpestive of the account e.g. My dentist.</p>",
                "operationId": "func_1_2_1-addCounterpartyMoreInfo",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/MoreInfoJSON"
                    }
                }, {
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessMessage"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            },
            "put": {
                "tags": ["func_1_2_1"],
                "summary": "Update Counterparty More Info",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Update the more info description of the counter party from the perpestive of the account e.g. My dentist.</p>",
                "operationId": "func_1_2_1-updateCounterpartyMoreInfo",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/MoreInfoJSON"
                    }
                }, {
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessMessage"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/metadata/open_corporates_url": {
            "delete": {
                "tags": ["func_1_2_1"],
                "summary": "Delete Counterparty Open Corporates URL",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Delete open corporate url of other bank account.</p>",
                "operationId": "func_1_2_1-deleteCounterpartyOpenCorporatesUrl",
                "parameters": [{
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "204": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/EmptyClassJson"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            },
            "post": {
                "tags": ["func_1_2_1"],
                "summary": "Add Open Corporates URL to Counterparty",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Add open corporates url to other bank account.</p>",
                "operationId": "func_1_2_1-addCounterpartyOpenCorporatesUrl",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/OpenCorporateUrlJSON"
                    }
                }, {
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessMessage"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorBankAccountNotFound"
                        }
                    }
                }
            },
            "put": {
                "tags": ["func_1_2_1"],
                "summary": "Update Open Corporates Url of Counterparty",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Update open corporate url of other bank account.</p>",
                "operationId": "func_1_2_1-updateCounterpartyOpenCorporatesUrl",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/OpenCorporateUrlJSON"
                    }
                }, {
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessMessage"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/metadata/physical_location": {
            "delete": {
                "tags": ["func_1_2_1"],
                "summary": "Delete Counterparty Physical Location.",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Delete physical location of other bank account.</p>",
                "operationId": "func_1_2_1-deleteCounterpartyPhysicalLocation",
                "parameters": [{
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "204": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/EmptyClassJson"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            },
            "post": {
                "tags": ["func_1_2_1"],
                "summary": "Add physical location to other bank account.",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Add geocoordinates of the counterparty's main location</p>",
                "operationId": "func_1_2_1-addCounterpartyPhysicalLocation",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/PhysicalLocationJSON"
                    }
                }, {
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessMessage"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            },
            "put": {
                "tags": ["func_1_2_1"],
                "summary": "Update Counterparty Physical Location",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Update geocoordinates of the counterparty's main location</p>",
                "operationId": "func_1_2_1-updateCounterpartyPhysicalLocation",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/PhysicalLocationJSON"
                    }
                }, {
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessMessage"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/metadata/url": {
            "delete": {
                "tags": ["func_1_2_1"],
                "summary": "Delete url of other bank account.",
                "security": [{
                    "directLogin": []
                }],
                "description": "",
                "operationId": "func_1_2_1-deleteCounterpartyUrl",
                "parameters": [{
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "204": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/EmptyClassJson"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            },
            "post": {
                "tags": ["func_1_2_1"],
                "summary": "Add url to other bank account.",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>A url which represents the counterparty (home page url etc.)</p>",
                "operationId": "func_1_2_1-addCounterpartyUrl",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/UrlJSON"
                    }
                }, {
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessMessage"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            },
            "put": {
                "tags": ["func_1_2_1"],
                "summary": "Update url of other bank account.",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>A url which represents the counterparty (home page url etc.)</p>",
                "operationId": "func_1_2_1-updateCounterpartyUrl",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/UrlJSON"
                    }
                }, {
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessMessage"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/private_alias": {
            "delete": {
                "tags": ["func_1_2_1"],
                "summary": "Delete Counterparty Private Alias",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Deletes the private alias of the other account OTHER_ACCOUNT_ID.</p><p>Authentication is Optional Authentication is required if the view is not public.</p>",
                "operationId": "func_1_2_1-deleteCounterpartyPrivateAlias",
                "parameters": [{
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "204": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/EmptyClassJson"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            },
            "get": {
                "tags": ["func_1_2_1"],
                "summary": "Get Other Account Private Alias",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Returns the private alias of the other account OTHER_ACCOUNT_ID.</p><p>Authentication is Optional Authentication is required if the view is not public.</p>",
                "operationId": "func_1_2_1-getOtherAccountPrivateAlias",
                "parameters": [{
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AliasJSON"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            },
            "post": {
                "tags": ["func_1_2_1"],
                "summary": "Create Other Account Private Alias",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Creates a private alias for the other account OTHER_ACCOUNT_ID.</p><p>Authentication is Optional Authentication is required if the view is not public.</p>",
                "operationId": "func_1_2_1-addOtherAccountPrivateAlias",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/AliasJSON"
                    }
                }, {
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessMessage"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            },
            "put": {
                "tags": ["func_1_2_1"],
                "summary": "Update Counterparty Private Alias",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Updates the private alias of the counterparty (AKA other account) OTHER_ACCOUNT_ID.</p><p>Authentication is Optional Authentication is required if the view is not public.</p>",
                "operationId": "func_1_2_1-updateCounterpartyPrivateAlias",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/AliasJSON"
                    }
                }, {
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessMessage"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/public_alias": {
            "delete": {
                "tags": ["func_1_2_1"],
                "summary": "Delete Counterparty Public Alias",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Deletes the public alias of the other account OTHER_ACCOUNT_ID.</p><p>Authentication is Optional Authentication is required if the view is not public.</p>",
                "operationId": "func_1_2_1-deleteCounterpartyPublicAlias",
                "parameters": [{
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "204": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/EmptyClassJson"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorBankAccountNotFound"
                        }
                    }
                }
            },
            "get": {
                "tags": ["func_1_2_1"],
                "summary": "Get public alias of other bank account.",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Returns the public alias of the other account OTHER_ACCOUNT_ID. Authentication is Optional OAuth authentication is required if the view is not public.</p>",
                "operationId": "func_1_2_1-getCounterpartyPublicAlias",
                "parameters": [{
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AliasJSON"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorBankAccountNotFound"
                        }
                    }
                }
            },
            "post": {
                "tags": ["func_1_2_1"],
                "summary": "Add public alias to other bank account.",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Creates the public alias for the other account OTHER_ACCOUNT_ID.</p><p>Authentication is Optional Authentication is required if the view is not public.</p><p>Note: Public aliases are automatically generated for new 'other accounts / counterparties', so this call should only be used if the public alias was deleted.</p><p>The VIEW_ID parameter should be a view the caller is permitted to access to and that has permission to create public aliases.</p>",
                "operationId": "func_1_2_1-addCounterpartyPublicAlias",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/AliasJSON"
                    }
                }, {
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessMessage"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorBankAccountNotFound"
                        }
                    }
                }
            },
            "put": {
                "tags": ["func_1_2_1"],
                "summary": "Update public alias of other bank account.",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Updates the public alias of the other account / counterparty OTHER_ACCOUNT_ID.</p><p>Authentication is Optional Authentication is required if the view is not public.</p>",
                "operationId": "func_1_2_1-updateCounterpartyPublicAlias",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/AliasJSON"
                    }
                }, {
                    "in": "path",
                    "name": "OTHER_ACCOUNT_ID",
                    "description": "The other account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessMessage"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorBankAccountNotFound"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transaction-request-types": {
            "get": {
                "tags": ["func_1_4_0"],
                "summary": "Get Transaction Request Types for Account",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Returns the Transation Request Types that the account specified by ACCOUNT_ID and view specified by VIEW_ID has access to.</p><p>These are the ways this API Server can create a Transaction via a Transaction Request (as opposed to Transaction Types which include external types too e.g. for Transactions created by core banking etc.)</p><p>A Transaction Request Type internally determines:</p><ul>  <li>the required Transaction Request 'body' i.e. fields that define the 'what' and 'to' of a Transaction Request,</li>  <li>the type of security challenge that may be be raised before the Transaction Request proceeds, and</li>  <li>the threshold of that challenge.</li></ul><p>For instance in a 'SANDBOX_TAN' Transaction Request, for amounts over 1000 currency units, the user must supply a positive integer to complete the Transaction Request and create a Transaction.</p><p>This approach aims to provide only one endpoint for initiating transactions, and one that handles challenges, whilst still allowing flexibility with the payload and internal logic.</p>",
                "operationId": "func_1_4_0-getTransactionRequestTypes",
                "parameters": [{
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/TransactionRequestTypesJsonV140"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transaction-requests": {
            "get": {
                "tags": ["func_2_1_0"],
                "summary": "Get Transaction Requests.",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Returns transaction requests for account specified by ACCOUNT_ID at bank specified by BANK_ID.</p><p>The VIEW_ID specified must be 'owner' and the user must have access to this view.</p><p>Version 2.0.0 now returns charge information.</p><p>Transaction Requests serve to initiate transactions that may or may not proceed. They contain information including:</p><ul>  <li>Transaction Request Id</li>  <li>Type</li>  <li>Status (INITIATED, COMPLETED)</li>  <li>Challenge (in order to confirm the request)</li>  <li>From Bank / Account</li>  <li>Details including Currency, Value, Description and other initiation information specific to each type. (Could potentialy include a list of future transactions.)</li>  <li>Related Transactions</li></ul><p>PSD2 Context: PSD2 requires transparency of charges to the customer. This endpoint provides the charge that would be applied if the Transaction Request proceeds - and a record of that charge there after. The customer can proceed with the Transaction by answering the security challenge.</p>",
                "operationId": "func_2_1_0-getTransactionRequests",
                "parameters": [{
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/TransactionRequestWithChargeJSONs210"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transactions": {
            "get": {
                "tags": ["func_3_0_0"],
                "summary": "Get Transactions for Account (Full)",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Returns transactions list of the account specified by ACCOUNT_ID and <a href=\"#1_2_1-getViewsForBankAccount\">moderated</a> by the view (VIEW_ID).</p><p>Authentication via OAuth is required if the view is not public.</p><p>Possible custom headers for pagination:</p><ul>  <li>obp_sort_by=CRITERIA ==&gt; default value: \"completed\" field</li>  <li>obp_sort_direction=ASC/DESC ==&gt; default value: DESC</li>  <li>obp_limit=NUMBER ==&gt; default value: 50</li>  <li>obp_offset=NUMBER ==&gt; default value: 0</li>  <li>obp_from_date=DATE =&gt; default value: date of the oldest transaction registered (format below)</li>  <li>obp_to_date=DATE =&gt; default value: date of the newest transaction registered (format below)</li></ul><p><strong>Date format parameter</strong>: \"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'\" (2014-07-01T00:00:00.000Z) ==&gt; time zone is UTC.</p>",
                "operationId": "func_3_0_0-getTransactionsForBankAccount",
                "parameters": [{
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/TransactionsJSON"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorFilterSortDirectionError"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transactions/{TRANSACTION_ID}/metadata/comments": {
            "get": {
                "tags": ["func_1_2_1"],
                "summary": "Get comments.",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Returns the transaction TRANSACTION_ID comments made on a <a href=\"#1_2_1-getViewsForBankAccount\">view</a> (VIEW_ID).</p><p>Authentication via OAuth is required if the view is not public.</p>",
                "operationId": "func_1_2_1-getCommentsForViewOnTransaction",
                "parameters": [{
                    "in": "path",
                    "name": "TRANSACTION_ID",
                    "description": "The transaction id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/TransactionCommentsJSON"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            },
            "post": {
                "tags": ["func_1_2_1"],
                "summary": "Add comment.",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Posts a comment about a transaction TRANSACTION_ID on a <a href=\"#1_2_1-getViewsForBankAccount\">view</a> VIEW_ID.</p><p>${authenticationRequiredMessage(false)}</p><p>Authentication is required since the comment is linked with the user.</p>",
                "operationId": "func_1_2_1-addCommentForViewOnTransaction",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/PostTransactionCommentJSON"
                    }
                }, {
                    "in": "path",
                    "name": "TRANSACTION_ID",
                    "description": "The transaction id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/TransactionCommentJSON"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transactions/{TRANSACTION_ID}/metadata/comments/{COMMENT_ID}": {
            "delete": {
                "tags": ["func_1_2_1"],
                "summary": "Delete comment.",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Delete the comment COMMENT_ID about the transaction TRANSACTION_ID made on <a href=\"#1_2_1-getViewsForBankAccount\">view</a>.</p><p>Authentication via OAuth is required. The user must either have owner privileges for this account, or must be the user that posted the comment.</p>",
                "operationId": "func_1_2_1-deleteCommentForViewOnTransaction",
                "parameters": [{
                    "in": "path",
                    "name": "COMMENT_ID",
                    "description": "The comment id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "TRANSACTION_ID",
                    "description": "The transaction id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "204": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/EmptyClassJson"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorBankAccountNotFound"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transactions/{TRANSACTION_ID}/metadata/images": {
            "get": {
                "tags": ["func_1_2_1"],
                "summary": "Get images.",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Returns the transaction TRANSACTION_ID images made on a <a href=\"#1_2_1-getViewsForBankAccount\">view</a> (VIEW_ID).  Authentication via OAuth is required if the view is not public.</p>",
                "operationId": "func_1_2_1-getImagesForViewOnTransaction",
                "parameters": [{
                    "in": "path",
                    "name": "TRANSACTION_ID",
                    "description": "The transaction id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/TransactionImagesJSON"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorUserNotLoggedIn"
                        }
                    }
                }
            },
            "post": {
                "tags": ["func_1_2_1"],
                "summary": "Add an image.",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Posts an image about a transaction TRANSACTION_ID on a <a href=\"#1_2_1-getViewsForBankAccount\">view</a> VIEW_ID.</p><p>Authentication is Mandatory</p><p>The image is linked with the user.</p>",
                "operationId": "func_1_2_1-addImageForViewOnTransaction",
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "BANK_BODY",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/PostTransactionImageJSON"
                    }
                }, {
                    "in": "path",
                    "name": "TRANSACTION_ID",
                    "description": "The transaction id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/TransactionImageJSON"
                        }
                    },
                    "400": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorInvalidJsonFormat"
                        }
                    }
                }
            }
        },
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transactions/{TRANSACTION_ID}/metadata/images/{IMAGE_ID}": {
            "delete": {
                "tags": ["func_1_2_1"],
                "summary": "Delete an image",
                "security": [{
                    "directLogin": []
                }],
                "description": "<p>Deletes the image IMAGE_ID about the transaction TRANSACTION_ID made on <a href=\"#1_2_1-getViewsForBankAccount\">view</a>.</p><p>Authentication via OAuth is required. The user must either have owner privileges for this account, or must be the user that posted the image.</p>",
                "operationId": "func_1_2_1-deleteImageForViewOnTransaction",
                "parameters": [{
                    "in": "path",
                    "name": "IMAGE_ID",
                    "description": "The image id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "TRANSACTION_ID",
                    "description": "The transaction id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "VIEW_ID",
                    "description": "The view id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "ACCOUNT_ID",
                    "description": "The account id",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "path",
                    "name": "BANK_ID",
                    "description": "The bank id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "204": {
[...]
